Hello World!

<form method="post" action="{{ path('testform') }}">
<label> Username</label>
<input type="texte" name="username"> </input>

<label> Password</label>
<input type="password" name="pwd"> </input>
<button type="submit" name="submit" >submit </button>
</form>
